{% extends "base.html" %}

{% block title %}
Создание поста
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
             {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}